* {
  margin:0;
}

h1 {
  font-family: sans-serif;
  background-color: black;
  color:black;
  margin: 0.5em;
}

p{
  font-family: sans-serif;
  color:white;
  margin: 1em;
}

p:hover{
  font-family: sans-serif;
  color:black;
  margin: 1em;
}

p.mark{
  font-family: sans-serif;
  color:black;
  margin: 1em;
  background-color: white;
}

::selection{
  background-color: white;
  opacity: 1;
  color:black;
}
